.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 30px;

  img {
    height: 110px;
  }
}

.searchText {
  padding: 10px 20px;
  margin: 0 30px 0 30px;
  border-radius: 10px;
  width: 100%;
}