
.nestedListGroup{
  .total {
    margin-left: 10px;
  }
  // will-change: transform;
}

.nestedListGroup:not(:first-child) {
  margin-top: 30px;
}

.nestedListListing {
  columns: 300px 5;
}

.nestedListItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.categoryIndex {

  margin-bottom: 20px;
  
  .btnCategoryIndex {
    min-width: 28px !important;
    height: 28px;
    padding: 0 !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
  }
}
